<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <title>Home</title>
</head>
<body>
    <h1 id=" title">Welcome to the Book Search App</h1>
    <div class="searchBox">
    <form id="form"action="/books" method="get">
        <input type="text" name="q" placeholder="Search by author">
        <button type="submit">Search</button>
    </form>
</div>
</body>
</html>
