body{
    background-color:#254336;
    box-sizing:border-box;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #F3F7EC;
  }
body, h1{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
    height:100vh;

}
.searchBox{
    width:400px;
    height:50px;
    position: relative;
    bottom: 150px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:150px auto;
    border-radius:10px;
    background-color:white;
  }
  #text-input{
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #0a0a23;
  }
  .resultsUl{
    list-style: none;
    line-height: 1.5rem;
    font-size: 1.5rem;
    position: relative;
    bottom: 150px;
    text-align: center;
  }
 .resultsUl li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 .resultsUl strong{
  color: #DAD3BE;
 }
.returnLink{
  font-size: 1.3rem;
  text-decoration: none;
  color:#DC5F00;
  position: relative;
  bottom: 50px;
}
.returnLink:hover{
  color: #DAD3BE;
}