body{
    background-color:#254336;
    box-sizing:border-box;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #F3F7EC;
  }
body, h1{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
    height:100vh;

}
.searchBox{
    width:400px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:150px auto;
    border-radius:10px;
    background-color:white;
  }
  #text-input{
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #0a0a23;
  }